!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1= "Hi, " + @user.email + "!"
    %p
      Welcome to Ye Old Shoppe! We hope you enjoy Ye Old shopping experience.
