-flash.each do |message_type, message|
  %div{:class => "alert alert-#{message_type}"}= message

%link{:href => "http://fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet", :type => "text/css"}
  .container
    .fb-profile
      %img.fb-image-lg{:align => "left", :alt => "Profile image example", :src => "http://lorempixel.com/850/280/nightlife/5/"}/
      %img.fb-image-profile.thumbnail{:align => "left", :alt => "Profile image example", :src => "http://lorempixel.com/180/180/people/9/"}/
      .fb-profile-text
        %h1=@user.email
        %p Your shopping adventures!
  / /container
